.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

  }
  
  .project-image {
    width: 600px;
    height: auto;
    margin-right: 20px;
    filter: brightness(80%) /* Adjust these values to make the image darker */
  }

  .project-video {
    width: 600px;
    height: auto;
    margin-right: 20px;
    filter: brightness(80%) /* Adjust these values to make the image darker */
  }
  
  .project-details {
    text-align: left;
  }
  
  .project-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 16px;
  }